PORT=
MONGO_URI=
JWT_ACCESS_SECRET_KEY=
JWT_REFRESH_SECRET_KEY=
AWS_ACCESS_KEY=your_iam_access_key
AWS_SECRET_KEY=your_iam_secret_key
AWS_REGION=aws_region
AWS_BUCKET_NAME=your-s3-bucket-name
CLOUDFRONT_DOMAIN=
# KEY_GROUP_ID or CLOUDFRONT_KEY_PAIR_ID is same 
CLOUDFRONT_KEY_PAIR_ID=
# Format private key as a single line with \n characters
CLOUDFRONT_PRIVATE_KEY=
GOGGLE_GEMINI_API_KEY=your-llm-api-key
UNSTRUCTURED_API_KEY=your-api-key-here
REDIS_HOST=localhost
REDIS_PORT=6379
PINECONE_API_KEY=
PINECONE_INDEX=

